<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ConversationsProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>option.jsp</welcome-file>
    <welcome-file>conversation.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>numberseries.jsp</welcome-file>
    <welcome-file>index.css</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Convert</display-name>
    <servlet-name>Convert</servlet-name>
    <servlet-class>com.conversation.Convert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Convert</servlet-name>
    <url-pattern>/Convert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionServlet</display-name>
    <servlet-name>OptionServlet</servlet-name>
    <servlet-class>com.conversation.OptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionServlet</servlet-name>
    <url-pattern>/OptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeConvert</display-name>
    <servlet-name>TimeConvert</servlet-name>
    <servlet-class>com.conversation.TimeConvert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeConvert</servlet-name>
    <url-pattern>/TimeConvert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumberSeries</display-name>
    <servlet-name>NumberSeries</servlet-name>
    <servlet-class>com.conversation.NumberSeries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberSeries</servlet-name>
    <url-pattern>/NumberSeries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumberSeriesFile</display-name>
    <servlet-name>NumberSeriesFile</servlet-name>
    <servlet-class>com.conversation.NumberSeriesFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberSeriesFile</servlet-name>
    <url-pattern>/NumberSeriesFile</url-pattern>
  </servlet-mapping>
</web-app>